body {
    background-color: rgb(31, 160, 247);

}
header {
    text-align: center;
    font: normal 15px arial;
    color: white;

}
section {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
    

}
footer {
    text-align: center;
    padding: 5px;
    font-style: italic;
}

